@import "./prism.css";
@import "./nuvex-ui-theme-overrides.css";

.app-responsive-content {
    max-width: 100%;
    overflow-x: auto;
}

.docs-inline-code {
    display: inline-block;
    padding: var(--e-space-base);
    border-radius: var(--e-border-radius-root);
    background: var(--e-color-surface-subtle);
    border: none;
    color: inherit;
    font-family: Monaco, Consolas, "Liberation Mono", monospace;
    font-size: 0.875em;
    line-height: 1.2;
    white-space: nowrap;
    align-self: center;
}